<html>
    <head>
        <title>Product Management System</title>
    </head>
    <body>
        {% block content %}

        <h1 style="font-size:4vw">Product Management System</h1>
        <h1 style="font-size:2vw">All fields require an input</h1>
        <h1 style="font-size:2vw">Please try again and enter information for every field</h1>

        <form action="/tableinfo" method="post">
            Product Category: <input name = "name" type="text"/><br>
            Product Description: <input name = "symbol" type="text"/><br>
            Price: <input name = "price" type="text"/><br>
            Product Code: <input name = "code" type="text"/><br>
            <input type="submit"/>
        </form>

        <form action="/" method="post">
            <input type="submit" value="Return Home">
        </form>
        {% endblock content %}

    </body>
</html>