<html>
    <head>
        <title>Product Management System</title>
    </head>
    <body>
        {% block content %}
        <h1 style="font-size:4vw">Product Management System</h1>
        <h1 style="font-size:2vw">To Retrieve Data by Category:</h1>
        <form action="/displayinventory" method="post">
            Select a Category to retrieve from Database: <input name = "name" type="text" placeholder="leave blank to print all"><br>
            <br>
            <input type="submit"/>
        </form>
        <form action="/" method="post">
            <input type="submit" value="Return Home">
        </form>
        {% endblock content %}

    </body>
</html>